@page
@model Sistema_de_Gestion_de_Proyectos_y_Tareas.Pages.Tareas.IndexModel
@{
    ViewData["Title"] = "Lista de Tareas";
}

<h1>@ViewData["Title"]</h1>
@{
    var isEmpleado = User.IsInRole("Empleado");
}
@if(!isEmpleado)
{
    <p><a asp-page="Create" class="btn btn-primary">Crear Nueva Tarea</a></p>
}


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Prioridad</th>
            <th>Proyecto Asignado</th>

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tareas)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Descripcion</td>
                <td>@item.Prioridad</td>

                <td>
                    @if (item.Proyecto != null)
                    {
                        <a asp-page="/Proyectos/Mostrar" asp-route-id="@item.Proyecto.Id">@item.Proyecto.Nombre</a>
                    }
                    else
                    {
                        <span class="text-muted">No asignado</span>
                    }
                </td>

                <td>
                    @if (User.IsInRole("JefeDeProyecto"))
                    {
                        <a class="btn btn-sm btn-info" asp-page="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-sm btn-warning" asp-page="Asignar" asp-route-id="@item.Id">Asignar</a>
                        <form method="post" asp-page="Index" asp-route-id="@item.Id" style="display:inline">
                            <button type="submit" class="btn btn-sm btn-secondary">Eliminar</button>
                        </form>
                    }
                    else if (User.IsInRole("Empleado"))
                    {
                        <span class="text-muted">Solo lectura</span>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-info" asp-page="Edit" asp-route-id="@item.Id">Editar</a>
                        <form method="post" asp-page="Index" asp-route-id="@item.Id" style="display:inline">
                            <button type="submit" class="btn btn-sm btn-secondary">Eliminar</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>