@page
@model Sistema_de_Gestion_de_Proyectos_y_Tareas.Pages.Proyectos.IndexModel
@{ ViewData["Title"] = "Lista de Proyectos"; }

<h1>@ViewData["Title"]</h1>
<p><a asp-page="Create" class="btn btn-primary">Crear Nuevo Proyecto</a></p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th><th>Inicio</th><th>Fin</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Proyectos) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.FechaInicio.ToShortDateString()</td>
                <td>@item.FechaFin.ToShortDateString()</td>
                <td>@item.Estado</td>
                <td>
                    <a class="btn btn-sm btn-success" asp-page="./Mostrar" asp-route-id="@item.Id">Ver Tareas</a>
                    <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-id="@item.Id">Editar</a>
                    <form method="post" asp-page="Index" asp-route-id="@item.Id" style="display:inline">
                        <button type="submit" class="btn btn-sm btn-secondary">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>